@import url( 'fonts/Helvetica Neue/stylesheet.css');



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI';
    background: #ebce07;
}

.sizes-filter-items {
    display: grid;
    justify-items: center;
    grid-template-columns: 25% 25% 25% 25%;
}

    .sizes-filter-items .filter-item-container {
        margin: 5px;
    }

    .sizes-filter-items .filter-item-name {
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 0 5px;
        transition: 0.2s;
    }

    .sizes-filter-items .filter-item-checkbox-fake {
        display: none;
    }

    .sizes-filter-items .filter-item-name:hover,
    .sizes-filter-items .filter-item-checkbox:checked ~ .filter-item-name {
        border-radius: 3px;
        border: 1px solid #d1a705;
    }

    .sizes-filter-items .filter-item-name:hover {
        color: #d1a705;
    }

    .sizes-filter-items .filter-item-checkbox:checked ~ .filter-item-name {
        color: rgb(185 147 0);
        background: rgb(241 221 83);
    }
