@import url('fonts/Helvetica Neue/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --featured-color: #FDDD00;
    --featured-hover-color: #ffe742;
    --border-font-color: rgb(185 147 0);
    --additional-font-color: #929292;
    --additional-font-color-lighter: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

input {
    border: none;
    outline: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100%;
}

#app {
    position: relative;
}

body::-webkit-scrollbar {
    width: 0px;
}

header {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #FDDD00;
}

.appheader-top-bar {
    display: flex;
    justify-content: end;
    background: #000;
    height: 50px;
}

.autorization-buttons {
    display: flex;
    height: 100%;
}

.login-button {
    background: none;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin: 0 15px;
}

.appheader-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 280px;
}

.logo:hover {
    cursor: pointer;
}

.logo-top {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    margin-left: 7px;
    font-size: 41px;
    line-height: 40px;
    letter-spacing: -2px;
}

.logo-bottom {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 45px;
}

.nav-button {
    width: 200px;
    font-family: "Oswald", sans-serif;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    transition: 0.2s;
    margin: 0 10px;
}

    .nav-button:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.top-bar {
    display: flex;
    justify-content: space-between;
    margin: 35px;
}

.bread-crumbs,
.bread-crumb {
    font-size: 20px;
    color: var(--additional-font-color);
    font-weight: 500;
    text-decoration: none;
}

.bread-crumb:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pagination-pages {
    display: flex;
    justify-content: center;
    margin-top: 70px
}

.pagination-page {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 0px 5px;
    padding: 13px 20px;
    background: rgb(255, 255, 255);
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px 1px;
    transition: 0.2s;
    text-decoration: none;
}

    .pagination-page:hover {
        cursor: pointer;
        border: 2px solid var(--border-font-color);
    }

.pagination-page-current {
    border: 2px solid;
    color: var(--border-font-color);
}

.pagination-arrow {
    color: var(--border-font-color);
}

.pagination-arrow-unavailable {
    color: grey;
    background: #dddddd;
}

    .pagination-arrow-unavailable:hover {
        cursor: default;
        border: 2px solid transparent;
    }

.products-main {
    display: flex;
    justify-content: space-around;
}

.product-list-wrapper {
    position: relative;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 15px;
}

.products-content {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.product {
    width: 32%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    transition: 0.2s;
}

    .product:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 20%);
    }

.product-preview-image {
    width: 100%;
    max-height: 310px;
    object-fit: cover;
}

.product-info {
    position: relative;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
}

    .product-info span {
        width: 100%;
    }

.product-info-categories {
    font-weight: 400;
    font-size: 18px;
}

.product-info-category {
    color: var(--additional-font-color);
}

.product-info-name {
    font-size: 18px;
}

.product-info-price {
    font-size: 30px;
    font-weight: 800;
    color: #d2a805;
}

.product-info-main {
    height: 100%;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
}

.product-info-sizes {
    right: 25%;
    left: 0;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.product-info-sizes-title {
    font-size: 19px;
    color: #947704;
    font-weight: 500;
}

.product-info-sizes-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-size {
    padding: 0px 12px;
    margin: 6px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid var(--border-font-color);
}

.nothing-found-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .nothing-found-content span {
        font-size: 170px;
    }

    .nothing-found-content p {
        font-size: 35px;
    }

.sorting-and-filters {
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 1px rgb(0, 0, 0, 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 50px;
    font-weight: 400;
    color: #947704;
}

.search-and-sort {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 20px;
}

    .search-and-sort .filter-item-container {
        width: fit-content;
    }

    .search-and-sort .filter-item-name {
        font-size: 18px;
        font-weight: 500;
    }

    .search-input-wrapper {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
    }

.clear-search-value {
    padding: 0 10px;
    padding-bottom: 2px;
    font-size: 20px;
    color: #d2a805;
}

    .clear-search-value:hover {
        cursor: pointer;
    }

.search-button {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-font-color);
    background: none;
    color: var(--border-font-color);
    font-size: 20px;
    padding: 7px 10px;
    height: 100%;
    transition: 0.2s;
}

    .search-button:hover {
        cursor: pointer;
        background: var(--featured-hover-color);
    }

.search-input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: 1px solid var(--additional-font-color-lighter);
    border-right: none;
    outline: none;
}

.sort-dropdown {
    border: 1px solid var(--additional-font-color-lighter);
    font-size: 18px;
    padding: 0 5px;
    outline: none;
}

.sortDropdown:hover {
    cursor: pointer;
}

.price-ranger {
    margin-bottom: 15px;
}

.price-ranger-input-boxes {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.price-ranger-separator {
    margin: 5px;
}

.price-input {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px 5px;
    border: 1px solid var(--additional-font-color-lighter);
}

    .price-input input {
        display: flex;
        text-align: center;
        font-size: 20px;
        border-radius: 5px;
        width: 50%;
        border: none;
    }

        .price-input input[type="number"]::-webkit-outer-spin-button,
        .price-input input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

    .price-input span {
        font-size: 20px;
        color: var(--additional-font-color);
    }

.price-ranger-slider {
    height: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid var(--featured-color);
    position: relative;
    margin-top: 10px;
}

    .price-ranger-slider .progress {
        position: absolute;
        height: 5px;
        border-radius: 5px;
        left: 25%;
        right: 25%;
        background: #e3b608;
    }

.price-ranger-range-inputs {
    position: relative;
}

    .price-ranger-range-inputs input {
        position: absolute;
        width: 100%;
        height: 5px;
        top: -6px;
        pointer-events: none;
        background: none;
        -webkit-appearance: none;
    }

        .price-ranger-range-inputs input:hover {
            cursor: pointer;
        }

        .price-ranger-range-inputs input[type="range"]::-webkit-slider-thumb {
            width: 17px;
            height: 17px;
            border-radius: 50%;
            pointer-events: auto;
            -webkit-appearance: none;
            background: #e3b608;
        }

.filter-panel {
    width: 22%;
    box-sizing: border-box;
    background: #fff;
    height: fit-content;
    border-radius: 10px;
    padding-bottom: 20px;
}

.filter-panel-butons {
    display: flex;
    background: var(--featured-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.filters-apply-button {
    width: 100%;
    background: var(--featured-color);
    color: var(--border-font-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 600;
    transition: 0.2s;
}

    .filters-apply-button:hover {
        cursor: pointer;
        background: var(--featured-hover-color);
    }

.filters-list {
    display: flex;
    flex-direction: column;
}

    .filters-list::-webkit-scrollbar {
        width: 8px;
    }

    .filters-list::-webkit-scrollbar-thumb {
        background: var(--border-font-color);
        border-radius: 10px;
        box-shadow: 4px 4px 7px 1px rgb(0, 0, 0, 20%);
    }

.filter {
    background: #fff;
    border-radius: 7px;
    border-top: 1px solid #D9D9D9;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 10px;
    margin-bottom: 20px;
}

.price-ranger-filter {
    border: none;
}

.filter-opener {
    display: flex;
    justify-content: space-between;
    color: var(--border-font-color);
    align-items: center;
    margin-top: 20px;
}

    .filter-opener:hover {
        cursor: pointer;
    }

.price-ranger-filter .filter-opener {
    margin: 0;
    margin-bottom: 15px;
}

.in-stock-opener:hover {
    cursor: default;
}

.filter-title {
    font-size: 18px;
    font-weight: 700;
}

.filter-collapse-expand-button-expanded {
    transform: rotate(180deg);
}

.filter-items {
    margin: 20px 0;
}

.filter-item {
    display: flex;
    align-items: center;
}

    .filter-item:hover {
        cursor: pointer;
    }

.filter-item-container {
    width: 100%;
    margin: 10px 0;
}

.filter-item-name {
    font-size: 15px;
}

.filter-item-checkbox {
    display: none;
}

.filter-item-checkbox-fake {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--border-font-color);
}

    .filter-item-checkbox-fake::after {
        content: '';
        position: absolute;
        display: none;
        border-right: 3px solid rgb(185 147 0);
        border-bottom: 3px solid rgb(185 147 0);
        right: 5px;
        bottom: 4px;
        width: 7px;
        height: 13px;
        transform: rotate(40deg);
    }

.filter-item-checkbox:checked ~ .filter-item-checkbox-fake::after {
    display: block;
}

.filter-item-checkbox-fake {
    margin-right: 10px;
}

.sizes-filter .filter-items {
    display: flex;
    flex-wrap: wrap;
}

.sizes-filter .filter-item {
    justify-content: center;
}

.sizes-filter .filter-items .filter-item-container {
    width: 24%;
    flex-shrink: 0;
    border: 1px solid #d2a805;
    margin: 0;
}

.sizes-filter .filter-items .filter-item-name {
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 8px;
    transition: 0.2s;
}

.sizes-filter .filter-items .filter-item-checkbox-fake {
    display: none;
}

.sizes-filter .filter-items .filter-item-name:hover,
.sizes-filter .filter-items .filter-item-checkbox:checked ~ .filter-item-name {
    color: var(--border-font-color);
    background: rgb(241 221 83);
}

.sizes-filter .filter-items .filter-item-name:hover {
    color: #d1a705;
}



footer {
    background: #000;
    color: #fff;
    height: 100px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    height: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Общие технические стили*/

.disabled {
    display: none;
}

