@import url( 'fonts/Helvetica Neue/stylesheet.css');

:root {
    --featured-color: #FDDD00;
    --featured-hover-color: #ffe742;
    --border-font-color: rgb(185 147 0);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
}

body, button {
    font-family: 'Segoe UI';
}

input {
    border: none;
    outline: none;
}

.container {
    max-width: 1920px;
}

#app {
    position: relative;
}

body::-webkit-scrollbar {
    width: 0px;
}

.disabled {
    display: none;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 70px;
    background: #FDDD00;
    box-shadow: 4px 4px 7px 1px rgb(0, 0, 0, 20%);
}

.logo {
    width: 200px;
    height: 70px;
    object-fit: cover;
}

.login-button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 7px;
    margin: 0px 10px;
}

.nav-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    transition: 0.2s;
    margin: 0 10px;
}

    .nav-button:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.top-bar {
    padding: 0 35px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.category-name {
    font-size: 60px;
    font-weight: 800;
}

.products-main {
    display: flex;
    justify-content: space-around;
}

.product-list-wrapper {
    position: relative;
}

.product-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
    justify-content: center;
}

.products-content {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.product {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    box-shadow: 4px 4px 7px 1px rgb(0, 0, 0, 20%);
    background: #fff;
}

.product-preview-image {
    width: 100%;
    height: 286px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.product-info {
    position: relative;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
}

    .product-info h3 {
        text-align: center;
        font-size: 25px;
        font-weight: 800;
    }

    .product-info span {
        text-align: center;
    }

.product-info-price {
    font-size: 30px;
    font-weight: 400;
    color: #d2a805;
}

.product-info-main {
    height: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.product-info-sizes {
    right: 25%;
    left: 0;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.product-info-sizes-title {
    font-size: 19px;
    color: #947704;
    font-weight: 500;
}

.product-info-sizes-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-size {
    padding: 0px 12px;
    margin: 6px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid var(--border-font-color);
}

.nothing-found-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .nothing-found-content span {
        font-size: 170px;
    }

    .nothing-found-content p {
        font-size: 35px;
    }

.sorting-and-filters {
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 1px rgb(0, 0, 0, 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 50px;
    font-weight: 400;
    color: #947704;
}

.search-and-sort {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 7px 1px rgb(0, 0, 0, 20%);
}

.search-input-wrapper {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--featured-color);
    border-radius: 10px;
    background: #fff;
}

.clear-search-value {
    padding: 0 10px;
    padding-bottom: 2px;
    font-size: 20px;
    color: #d2a805;
}

    .clear-search-value:hover {
        cursor: pointer;
    }

.search-button {
    border: none;
    background: var(--featured-color);
    color: var(--border-font-color);
    font-size: 23px;
    padding: 0 10px;
    padding-bottom: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    transition: 0.2s;
}

    .search-button:hover {
        cursor: pointer;
        background: var(--featured-hover-color);
    }

.search-input {
    width: 100%;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 10px;
    outline: none;
}

.sort-dropdown {
    border: 2px solid var(--featured-color);
    font-size: 18px;
    border-radius: 10px;
    padding: 0 3px;
    outline: none;
}

.sortDropdown:hover {
    cursor: pointer;
}

.filter-panel {
    width: 22%;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 4px 4px 7px 1px rgb(0, 0, 0, 20%);
    height: fit-content;
    border-radius: 10px;
    padding-bottom: 20px;
}

.filter-panel-butons {
    display: flex;
    background: var(--featured-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.price-ranger {
    margin-bottom: 15px;
}

.price-ranger-input-boxes {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.price-ranger-separator {
    margin: 5px;
}

.price-input {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border: 1px solid rgb(185 147 0);
    padding: 5px;
    border-radius: 10px;
}

    .price-input input {
        display: flex;
        text-align: center;
        font-size: 18px;
        border-radius: 5px;
        width: 50%;
        border: none;
    }

    .price-input input[type="number"]::-webkit-outer-spin-button,
    .price-input input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .price-input span {
        font-size: 17px;
    }

.price-ranger-slider {
    height: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid var(--featured-color);
    position: relative;
    margin-top: 10px;
}

    .price-ranger-slider .progress {
        position: absolute;
        height: 5px;
        border-radius: 5px;
        left: 25%;
        right: 25%;
        background: #e3b608;
    }

.price-ranger-range-inputs {
    position: relative;
}

.price-ranger-range-inputs input {
    position: absolute; 
    width: 100%;
    height: 5px;
    top: -6px;
    pointer-events: none;
    background: none;
    -webkit-appearance: none;
}

    .price-ranger-range-inputs input:hover {
        cursor: pointer;
    }

    .price-ranger-range-inputs input[type="range"]::-webkit-slider-thumb {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        pointer-events: auto;
        -webkit-appearance: none;
        background: #e3b608;
    }

.filters-apply-button {
    width: 100%;
    background: var(--featured-color);
    color: var(--border-font-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 600;
    transition: 0.2s;
}

    .filters-apply-button:hover {
        cursor: pointer;
        background: var(--featured-hover-color);
    }

.filters-list {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

    .filters-list::-webkit-scrollbar {
        width: 8px;
    }

    .filters-list::-webkit-scrollbar-thumb {
        background: var(--border-font-color);
        border-radius: 10px;
        box-shadow: 4px 4px 7px 1px rgb(0, 0, 0, 20%);
    }

.filter {
    background: #fff;
    border-radius: 7px;
    border-top: 1px solid rgb(185 147 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 5px;
    margin-bottom: 5px;
}

.price-ranger-filter {
    border: none;
}

.filter-opener {
    display: flex;
    justify-content: space-between;
    color: var(--border-font-color);
    align-items: center;
    margin: 10px 0;
}

    .filter-opener:hover {
        cursor: pointer;
    }

.in-stock-opener:hover {
    cursor: default;
}

.filter-title {
    font-size: 18px;
    font-weight: 500;
}

.filter-collapse-expand-button-expanded {
    transform: rotate(180deg);
}

.filter-items {
    margin-top: 15px;
}

.filter-item {
    display: flex;
    align-items: center;
}

    .filter-item:hover {
        cursor: pointer;
    }

.filter-item-container {
    width: 100%;
    margin: 10px 0;
}

.filter-item-name {
    font-size: 15px;
}

.filter-item-checkbox {
    display: none;
}

.filter-item-checkbox-fake {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    border: 1px solid rgb(185 147 0);
}

    .filter-item-checkbox-fake::after {
        content: '';
        position: absolute;
        display: none;
        border-right: 3px solid rgb(185 147 0);
        border-bottom: 3px solid rgb(185 147 0);
        right: 4px;
        bottom: 3px;
        width: 6px;
        height: 11px;
        transform: rotate(35deg);
    }

.filter-item-checkbox:checked ~ .filter-item-checkbox-fake {
    background: rgb(241 221 83);
}

    .filter-item-checkbox:checked ~ .filter-item-checkbox-fake::after {
        display: block;
    }

.filter-item-checkbox-fake {
    margin-right: 10px;
}

.sizes-filter .filter-items {
    display: flex;
    flex-wrap: wrap;
}

.sizes-filter .filter-item {
    justify-content: center;
}

.sizes-filter .filter-items .filter-item-container {
    width: 24%;
    flex-shrink: 0;
    border: 1px solid #d2a805;
    margin: 0;
}

.sizes-filter .filter-items .filter-item-name {
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 8px;
    transition: 0.2s;
}

.sizes-filter .filter-items .filter-item-checkbox-fake {
    display: none;
}

.sizes-filter .filter-items .filter-item-name:hover,
.sizes-filter .filter-items .filter-item-checkbox:checked ~ .filter-item-name {
    color: var(--border-font-color);
    background: rgb(241 221 83);
}

.sizes-filter .filter-items .filter-item-name:hover {
    color: #d1a705;
}



footer {
    background: #000;
    color: #fff;
    height: 100px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    height: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
