@media (max-width: 1366px) {
    .container {
        max-width: 1366px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 425px;
    }

    /*Шапка*/

    .appheader-top-bar {
        display: none;
        height: fit-content;
    }

    .app-adress {
        font-size: 10px;
    }

    .app-phone-and-adress {
        padding: 5px;
    }

        .app-phone-and-adress span {
            font-size: 10px;
        }

    .appheader-navbar {
        display: flex;
        justify-content: center;
        padding: 0 15px;
    }

    .appheader-nav-buttons {
        display: none;
    }

    .nav-button {
        width: fit-content;
        font-size: 17px;
        margin: 0;
    }

    .autorization-buttons-pc {
        display: none;
    }

    .autorization-button-mobile {
        display: block;
    }

    .app-subheader {
        padding: 10px;
    }

    .authorized-user-panel p {
        font-size: 20px;
    }

    .app-subheader-button {
        font-size: 25px;
    }

    /*Главная*/
    .main-page-content-preview {
        display: none;
    }

    .main-page-brands-list {
        margin-top: 10px;
    }

    .main-page-brand {
        margin: 10px;
    }

    .main-page-show-all-button {
        font-size: 25px;
        margin-top: 20px;
    }

    .products-slider-list-viewport {
        width: 75%;
    }

    .products-slider-scroll-buttons {
        display: none;
    }

    /*Каталог*/

    .top-bar {
        display: none;
        margin: 20px 0;
    }

    .product-page-main-content,
    .catalog-page-main-content {
        padding-top: 20px;
    }

    .bread-crumbs, .bread-crumb {
        font-size: 16px;
    }

    .products-main {
        flex-direction: column;
    }

    .filter-panel {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        top: 0;
        left: 0;
        position: fixed;
        width: initial;
        z-index: 101;
        padding: 20px 10px;
        border-radius: 0;
    }

    .filter-panel-butons a {
        width: 30%;
    }

    .filters-apply-button {
        width: initial;
        padding: 10px 15px;
    }

    .products-content {
        width: initial;
    }

    .sorting-and-filters {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .filters-panel-opener {
        box-sizing: border-box;
        padding: 10px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 0;
    }

    .search-and-sort {
        flex-direction: column;
        align-items: center;
    }

    .sort-dropdown {
        width: 60%;
        padding: 10px 5px;
    }

    .product-list {
        display: grid;
        gap: 10px;
        grid-template-columns: 45% 45%;
        justify-content: center;
    }

        .product-list .product {
            width: 100%;
            height: 320px;
        }

        .product-list .product-preview-image {
            height: 182px;
        }

        .product-list .product-info-main {
            justify-content: initial;
        }

        .product-list .product-info {
            padding: 5px 10px;
        }

        .product-list .product-info-categories {
            font-size: 14px;
        }

        .product-list .product-info-name {
            font-size: 14px;
            margin: 5px 0;
        }

        .product-list .product-info-price {
            font-size: 20px;
        }

    .pagination-pages {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .pagination-page {
        padding: 7px 12px;
    }

    /*Страница товара*/

    .product-main {
        flex-direction: column;
    }

    .product-page-images {
        width: initial;
        flex-direction: column;
    }

    .product-current-image-wrapper {
        width: initial;
    }

    .product-all-images {
        width: initial;
        flex-direction: row;
    }

    .product-image {
        width: 18%;
    }

    .product-page-info {
        margin-top: 30px;
    }

    .product-page h1 {
        font-size: 28px;
    }

    .product-page-detail {
        display: flex;
        justify-content: space-between;
    }

    .product-price-and-cart {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

        .product-price-and-cart .add-to-cart-button {
            width: 100%;
            margin-top: 10px;
        }

    .product-page-section {
        margin-top: 30px;
    }

    .product-page-description {
        width: 100%;
    }

    /*Футер*/
    footer {
        margin-top: 0;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-list-sections {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .footer-section-text {
        width: initial;
    }

    .footer-section h2 {
        font-size: 25px;
    }

    .footer-section p, .footer-section li {
        font-size: 15px;
    }

    .social-links {
        margin-top: 20px;
        padding: 10px 20px;
        justify-content: center;
    }

    /*Попапы*/

    .popup-content {
        width: 400px;
        padding: 25px;
    }

    .authoriization-parameters {
        font-size: 17px;
        margin-bottom: 15px;
    }

    .authorization-section-fields {
        box-sizing: border-box;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        border-top: 1px solid var(--additional-font-color-lighter);
        border-bottom: 1px solid var(--additional-font-color-lighter);
    }

    /*Страницы подтверждений*/

    .confirmation-content {
        padding: 0 20px;
    }

        .confirmation-content h1 {
            font-size: 20px;
        }

        .confirmation-content p {
            font-size: 18px;
            text-align: center;
        }
}

@media (max-width: 375px) {
    /*Каталог*/

    .sort-dropdown,
    .filters-panel-opener,
    .search-and-sort .filter-item-name {
        font-size: 16px;
    }

    .product-list .product {
        width: 100%;
        height: 250px;
    }

    .product-list .product-info-categories {
        font-size: 12px;
    }

    .product-list .product-info-name {
        font-size: 12px;
        margin: 5px 0;
    }

    .product-list .product-info-price {
        font-size: 20px;
    }

    /*Попапы*/

    .popup-content {
        width: 300px;
        padding: 15px;
    }

    .authoriization-parameters {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .authorization-alternative {
        margin-top: 10px;
        padding-top: 10px;
    }

    .authorization-popup-button {
        font-size: 18px;
    }

    .authorization-newsletter-checkbox span {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    /*Каталог*/

    .product-list .product-preview-image {
        height: 135px;
    }
}
